body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.map {
    width: 100%;
    height: 100%;
}

.monitor__marker {
    opacity: 0;
    animation: popupAndHide 2.5s linear 1;
}

.eventTracker {
    left: 0px;
    bottom: 0px;
    position: fixed;
    width: 100%;
    height: 30%;
    background-color: gray;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.eventTrackerBox {
    width: 100%;
    height: 10%;
    transition: all 0.2s ease-out;
}

.eventTrackerItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.example-enter {
    transition: all 0.5s ease-in;
    transform: translateY(120%);
    /* max-height: 0; */
}

.example-enter.example-enter-active {
    transform: translateY(0);
    /* max-height: 100px; */
}

.example-leave {
    /* position: absolute;
    left: 0;
    bottom: 0; */
    /* max-height: 100px; */
    transition: all 0.5s ease-out;
    transform: translateY(0);
}

.example-leave.example-leave-active {
    /* max-height: 0; */
    transform: translateY(-100%);
}

.eventTrackerItem__TS {
    align-items: center;
    padding-left: 20px;
    width: 5%;
}

.eventTrackerItem__ID {
    font-weight: bold;
    width: 5%;
}

.eventTrackerItem__ev {
    width: 10%;
}

.eventTrackerItem__city {
    width: 20%;
}

.tryit {
    position: fixed;
    left: 0px;
    top: 0px;
}

@keyframes popupAndHide {
    0% {
        opacity: 1;
        r: 0%;
    }
    50% {
        opacity: 1;
        r: 1%;
    }
    100% {
        opacity: 0;
    }
}